#services .services-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

#services .service {
	padding: 20px;
	transition: var(--transition);
	flex-direction: column;
	border-radius: 10px;
}
#services .service:hover {
	background: var(--bg-secondary);
}
#services .service:hover .icon-wrapper {
	background: var(--foreground);
	transform: scale(1.2);
}
#services .service .details {
	flex: 1;
}

#services .service .buttons-wrapper {
	margin-top: 20px;
}
#services .service .buttons-wrapper .btn {
	padding: 10px 20px;
	background: var(--bg-secondary);
	border-radius: 10px;
	color: var(--foreground);
	transition: var(--transition);
}
/* ===================================RESPONSIVENESS============================================== */
/* TABLETS===========================================================*/
@media (max-width: 1000px) {
	#services .services-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
/* SMALL===========================================================*/
@media (max-width: 600px) {
	#services .services-container {
		grid-template-columns: 100%;
	}
}
