.input-container {
	width: 55%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	background: var(--bg-accent);
}

.input-container .input {
	display: flex;
	width: 80%;
	height: 30px;
	padding: 10px;
	background: var(--bg-primary);
	border-radius: 5px;
	color: var(--foreground);
	font-size: 14px;
	overflow: hidden;
	transition: var(--transition);
	border: 0.5px solid var(--bg-accent);
	resize: none;
}
.input-container .input:hover {
	border-color: var(--primary);
}
.input-container .icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: var(--transition);
	gap: 10px;
}
.input-container .icon .cancel {
	color: var(--destructive);
}
.input-container .icon .save {
	color: var(--success);
}
.info-container .edit {
	color: var(--primary);
}
/* ===================================RESPONSIVENESS============================================== */
/* MEDIUM===========================================================*/
@media (max-width: 900px) {
	.input-container {
		width: 80%;
	}
}
/* SMALL===========================================================*/
@media (max-width: 600px) {
	.input-container {
		width: 100%;
	}
}
