#agents .slick-slide {
	padding: 20px;
}
#agents .profile {
	width: 8rem;
	height: 8rem;
	margin: auto;
	border-radius: 100px;
	overflow: hidden;
}
#agents .profile img {
	transition: var(--transition);
}
#agents .slick-slide:hover img {
	transform: scale(1.2);
}
#agents .agent-container {
	margin-top: 40px;
}
#agents .name {
	text-align: center;
	margin: 10px 0;
}
#agents .buttons-container {
	margin-top: 20px;
	gap: 20px;
}
#agents .buttons-container .btn:hover .arrows {
	color: var(--foreground);
}
#agents .buttons-container .btn .arrows {
	font-size: 20px;
	color: var(--primary);
}
