.form-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 20px 0px;
}
.form-wrapper .form-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 40px;
}
.form-wrapper .gradient-text {
	font-size: 30px;
}
.form-wrapper .info-container {
	width: 50%;
	height: 30px;
	padding: 0 10px;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-primary);
}
.form-wrapper .info-container .flex-center {
	gap: 10px;
}
/* ===================================RESPONSIVENESS============================================== */
/* MEDIUM===========================================================*/
@media (max-width: 900px) {
	.form-wrapper .info-container {
		width: 70%;
	}
}
/* SMALL===========================================================*/
@media (max-width: 600px) {
	.form-wrapper .info-container {
		width: 90%;
	}
	.form-wrapper {
		padding: 10px;
	}
}
