.form-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
}
.form-wrapper .form-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.form-wrapper .gradient-text {
	font-size: 30px;
}

.form-container .input-container {
	width: 65%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
	border: 1px solid var(--bg-accent);
}

.form-container .input-container .label {
	padding: 10px;
}
.form-container .input-container .label .cancel {
	color: var(--muted);
}
.form-container .input-container .label .cancel:hover {
	color: var(--destructive);
	background: var(--bg-secondary);
}
.form-container .input-container .input-div {
	display: flex;
	gap: 20px;
}
.form-container .input-container .input {
	display: flex;
	width: 100%;
	height: 60px;
	padding: 10px;
	border-radius: 5px;
	color: var(--foreground);
	font-size: 14px;
	overflow: hidden;
	background: var(--bg-primary);
	transition: var(--transition);
	border: 0.5px solid var(--bg-accent);
	resize: none;
}
.form-container .input-container .input:hover {
	border-color: var(--primary);
}
.form-container .input-container .icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-container .input-container .icon-wrapper:hover {
	background: var(--bg-accent);
	color: var(--success-accent);
}
.form-container .input-container .icon-wrapper .loader {
	color: var(--primary-accent);
}
.form-container .error {
	color: var(--destructive);
	padding: 0;
	margin: 0;
}
.info-container .edit {
	color: var(--primary);
}
.info-container .edit:hover {
	color: var(--foreground);
}
.form-wrapper .info-container {
	width: 60%;
	height: 60px;
	padding: 0 10px;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-secondary);

	transition: var(--transition);
	border: 0.5px solid var(--bg-accent);
}
.form-wrapper .info-container .flex-center {
	gap: 10px;
}
/* ===================================RESPONSIVENESS============================================== */
/* MEDIUM===========================================================*/
@media (max-width: 900px) {
	.form-wrapper .info-container {
		width: 70%;
	}
	.form-container .input-container {
		width: 80%;
	}
}
/* SMALL===========================================================*/
@media (max-width: 600px) {
	.form-wrapper .info-container {
		width: 90%;
	}
	.form-wrapper {
		padding: 10px;
	}
	.form-container .input-container {
		width: 100%;
	}
}
