.achievements-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin: 20px 0px;
}
.achievements-container .card {
	width: 100%;
	padding: 20px;
	background: var(--bg-accent);
	border: 0.5px solid var(--border-secondary);
	border-radius: 10px;
	transition: var(--transition);
	gap: 10px;
}
.achievements-container .card:hover {
	background: var(--bg-primary);
}
.achievements-container .card:hover .icon-wrapper {
	transform: scale(1.1);
	color: var(--foreground);
}
.achievements-container .card .title {
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}
.achievements-container .card small {
	display: block;
	margin-top: 5px;
}
/* RESPONSIVE================================ */
@media (max-width: 900px) {
	.achievements-container {
		flex-direction: column;
		gap: 10px;
	}
	.achievements-container .card {
		width: 100%;
		padding: 5px;
		transition: var(--transition);
		border: 0.5px solid var(--border-accent);
		gap: 10px;
	}
	.achievements-container .card .details {
		flex-direction: column;
		align-items: center;
	}
}
