#footer .bottom-row {
	/* background: var(--bg-accent); */
	background: linear-gradient(to bottom, transparent, var(--bg-accent));
	border-top: 1px solid var(--bg-accent);
	margin-top: 50px;
}
#footer .bottom-row > .wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
#footer .bottom-row .footer-image {
	width: 130px;
	position: relative;
}
#footer .bottom-row .footer-image::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: linear-gradient(to bottom, transparent, var(--bg-accent));
}
#footer .bottom-row .route {
	display: flex;
	margin: 10px 0;
	cursor: pointer;
	transition: var(--transition);
}
#footer .bottom-row .route:hover {
	color: var(--primary);
}
#footer .copyright {
	text-align: center;
	padding-bottom: 30px;
	color: var(--primary-accent);
}
/* ===================================RESPONSIVENESS============================================== */
/* MEDIUM===========================================================*/
@media (max-width: 800px) {
	#footer .bottom-row > .wrapper {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
}
/* SMALL===========================================================*/
@media (max-width: 500px) {
	#footer .bottom-row > .wrapper .column:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	#footer .bottom-row > .wrapper {
		grid-template-columns: 100%;
		gap: 40px;
	}
	#footer .bottom-row .title,
	#footer .bottom-row .route {
		text-align: center;
		display: block;
	}
}
